.signup {
	text-align: right !important;
	padding: 0px 28px 0px !important;
}
.imgvalues {
    margin-bottom: 23px !important;
}
.headerclass{
height:140px !important;
}
.bgimage1{
  padding: 5px 0 10px !important;
}
/*.images{
position: relative !important; 
left: 0 !important; 
top: 0 !important;
height:300px !important;
width:573px !important;
margin-left:281px !important;
margin-top:15px !important;

}*/
.images{
position: relative !important;
padding: 15px 0 10px 281px!important;
}
.background-img{
position: relative !important; 
top: 0 !important; 
left: 0 !important; 
width:100% !important;
}
.joinnow{
position: absolute !important;
 bottom: 10px !important; 
 right: 8% !important;
}
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.wccs-field-class {
            float:left;
            width: 47%;
        }
        .wccs-field-class:nth-child(2n+2) {
            padding-right: 3.4% !important;
        }
        .add_info_wccs {
            clear: both;
        }
		dd ul.bulleted {  float:none;clear:both; }
		
		
.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


@media screen and (max-width: 480px) {
	.img-logo
	{
		padding: 0 0 0 0 !important;
	}
}